        <!-- Industrial Fluid Power -->
        <div class="mb-5" data-aos="fade-up">
            <h3 class="subject-title">Industrial Fluid Power</h3>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Question Papers</h4>
                            <p class="card-text mb-2">Previous years' question papers for Industrial Fluid Power.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1WpXrPO7cSaoFDm2Zg8AE8jhbl0zf0ELK/view?usp=drive_link" class="text-decoration-none">[22655]-2024-Summer-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1WporjKyHJBfdiPRDG_rIk5UrSVOpBO4A/view?usp=drive_link" class="text-decoration-none">[22655]-2023-Winter-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1WqK7zr1uAYXJn5FgvLHp_DvoBhxNYw0t/view?usp=drive_link" class="text-decoration-none">[22655]-2023-Summer-question-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Model Answers</h4>
                            <p class="card-text mb-2">Previous years' model answer papers for Industrial Fluid Power.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1Wyqnj0btRTyEQZ6zo19glSdSDDZmysuo/view?usp=drive_link" class="text-decoration-none">[22655]-2022-Winter-model-answer-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Notes & Lab Manual</h4>
                            <p class="card-text">Comprehensive notes and lab manual for Industrial Fluid Power.</p>
                            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-download me-2"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Industrial Engineering and Quality Control -->
        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="subject-title">Industrial Engineering and Quality Control</h3>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Question Papers</h4>
                            <p class="card-text mb-2">Previous years' question papers for Industrial Engineering and Quality Control.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1X5jbrRl0m8xPQ5YTujBn7lkGZXXWEzZs/view?usp=drive_link" class="text-decoration-none">[22656]-2024-Summer-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1X8HihikQOqRg_Dr8M-f8arKoZ3PEtj9X/view?usp=drive_link" class="text-decoration-none">[22656]-2023-Winter-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1XA1Q8n9Q-g_1zpBXN3jWXJJcWkmDj582/view?usp=drive_link" class="text-decoration-none">[22656]-2023-Summer-question-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Model Answers</h4>
                            <p class="card-text mb-2">Previous years' model answer papers for Industrial Engineering and Quality Control.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1XQWaWC-Oyj8l9zxG3P_uAZAw2M8uKBaU/view?usp=drive_link" class="text-decoration-none">[22656]-2022-Winter-model-answer-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1Xa_PoypgvqyZ1uNU00HnkxJxOplifk8G/view?usp=drive_link" class="text-decoration-none">[22656]-2022-Summer-model-answer-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Case Studies & Notes</h4>
                            <p class="card-text">Industry case studies and comprehensive notes for Industrial Engineering and Quality Control.</p>
                            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-download me-2"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Emerging Trends in Mechanical Engineering -->
        <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
            <h3 class="subject-title">Emerging Trends in Mechanical Engineering</h3>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Question Papers</h4>
                            <p class="card-text mb-2">Previous years' question papers for Emerging Trends in Mechanical Engineering.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1XicvkS4E92NGmqQlFThbs2aCv1YshQPB/view?usp=drive_link" class="text-decoration-none">[22657]-2024-Summer-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1XlozWw0TmErJR4z5QS9KTiAM5vG0WRpK/view?usp=drive_link" class="text-decoration-none">[22657]-2023-Winter-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1XnvzWTjS9NXOQ-AFtwDPtYzsjw87on-7/view?usp=drive_link" class="text-decoration-none">[22657]-2023-Summer-question-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Model Answers</h4>
                            <p class="card-text mb-2">Previous years' model answer papers for Emerging Trends in Mechanical Engineering.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1XuwQhLGJpv1LAvPZH-_bCO9Xgk6n-E2D/view?usp=drive_link" class="text-decoration-none">[22657]-2022-Winter-model-answer-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Research Papers & Notes</h4>
                            <p class="card-text">Collection of recent research papers and notes on emerging technologies in mechanical engineering.</p>
                            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-download me-2"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Elective 22658 -->
        <div class="mb-5" data-aos="fade-up" data-aos-delay="300">
            <h3 class="subject-title">Elective 22658</h3>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Question Papers</h4>
                            <p class="card-text mb-2">Previous years' question papers for Elective 22658.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1Y0R79G4wSsxXIj3NshuS-KFlLrCowp06/view?usp=drive_link" class="text-decoration-none">[22658]-2024-Summer-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1Y3L5Qyts-lq4Qa4wE99UPjDiNiigMsr5/view?usp=drive_link" class="text-decoration-none">[22658]-2023-Winter-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YEFHxhPVWRGL4iobvg6yig1zW_kBlui9/view?usp=drive_link" class="text-decoration-none">[22658]-2023-Summer-question-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Notes & Resources</h4>
                            <p class="card-text">Comprehensive notes and additional learning resources for Elective 22658.</p>
                            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-download me-2"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Elective 22660 -->
        <div class="mb-5" data-aos="fade-up" data-aos-delay="400">
            <h3 class="subject-title">Elective 22660</h3>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Question Papers</h4>
                            <p class="card-text mb-2">Previous years' question papers for Elective 22660.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YG03nc0aAfop89Jd4K1_e89mO3BOXK6h/view?usp=drive_link" class="text-decoration-none">[22660]-2024-Summer-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YHK4muaFiUlOs6jqlW71B6GYr8r6dTgD/view?usp=drive_link" class="text-decoration-none">[22660]-2023-Winter-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YUe2uwQb03QQkcBH4j9eEFpRJfI26aQF/view?usp=drive_link" class="text-decoration-none">[22660]-2023-Summer-question-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Model Answers</h4>
                            <p class="card-text mb-2">Previous years' model answer papers for Elective 22660.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YcxP7lGj1LWt6i38_rdpuGUgQiYRuQU2/view?usp=drive_link" class="text-decoration-none">[22660]-2022-Summer-model-answer-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YduYVCbRJEaWVrSRaboVJ9uVwn-3-pcy/view?usp=drive_link" class="text-decoration-none">[22660]-2022-Winter-model-answer-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Notes & Resources</h4>
                            <p class="card-text">Comprehensive notes and additional learning resources for Elective 22660.</p>
                            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-download me-2"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Elective 22661 -->
        <div class="mb-5" data-aos="fade-up" data-aos-delay="400">
            <h3 class="subject-title">Elective 22661</h3>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Question Papers</h4>
                            <p class="card-text mb-2">Previous years' question papers for Elective 22661.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YmuYeckEeDTfNJfb6soldDZyo-ex7E1w/view?usp=drive_link" class="text-decoration-none">[22661]-2024-Summer-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1YvWuW2ZmKF_ka0R5J743oJtWxr290N6u/view?usp=drive_link" class="text-decoration-none">[22661]-2023-Winter-question-paper</a></li>
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1Z-WqQHDNAfFrvC1Ynw2AD7u6bBp_7f_b/view?usp=drive_link" class="text-decoration-none">[22661]-2023-Summer-question-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Model Answers</h4>
                            <p class="card-text mb-2">Previous years' model answer papers for Elective 22661.</p>
                            <ul class="list-unstyled mb-3">
                                <li class="mb-2"><a href="https://drive.google.com/file/d/1Z50rw75yHiUVE5HDl7zsNIB_d5nqBWAX/view?usp=drive_link" class="text-decoration-none">[22661]-2022-Winter-model-answer-paper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card resource-card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Notes & Resources</h4>
                            <p class="card-text">Comprehensive notes and additional learning resources for Elective 22661.</p>
                            <a href="#" class="btn btn-primary mt-3"><i class="bi bi-download me-2"></i>Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 